* {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ysabeau Infant', sans-serif;
}
header > video {
    position: absolute;
    width: 100%;
    height: 100%;
}
header > section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.banner .borda-gradiente {
    width: 220px;
    height: 210px;
    background: linear-gradient(90deg, #ffdf00, #009c3b);
    border-radius: 100%;
    padding: 10px;
}
.banner .borda-gradiente .img-ney {
    width: 200px;
    height: 190px;
    border-radius: 100%;
}
.banner .titulo, main .estatistica > h1 {
    text-shadow: 0.1em 0.1em black;
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin: 20px 0;
    display: flex;
    position: relative;
}
.banner .titulo h1::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
    background: linear-gradient(90deg, #ffdf00, #009c3b);
    bottom: 0;
    left: 2px;
    border-radius: 4px;
}
.banner .titulo h1::after {
    content: "";
    position: absolute;
    background: url("verificado.png");
    background-size: cover;
    box-sizing: content-box;
    width: 25px;
    height: 25px;
    display: inline;
    bottom: 12px;
}
.banner .container-links {
    width: 768px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.banner .container-links a {
    width: 90%;
    padding: 10px;
    background-color: black;
    opacity: 90%;
    position: relative;
    gap: 20px;
    border-radius: 20px;
    margin: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.banner .container-links a:hover {
    background: linear-gradient(90deg, #009c3b, #ffdf00);
    color: rgb(0, 0, 0);
    font-size: 17px;
}
.banner .container-links .youtube::before {
    content: "";
    background-image: url("youtube.png");
    background-size: cover;
    box-sizing: content-box;
    position: absolute;
    width: 35px;
    height: 35px;
    left: 10px;
}
.banner .container-links .instagram::before {
    content: "";
    background-image: url("instagram.png");
    background-size: cover;
    box-sizing: content-box;
    position: absolute;
    width: 35px;
    height: 35px;
    left: 10px;
}
.banner .container-links .twitter::before {
    content: "";
    background: url("twitter.png"), #ffff;
    background-size: cover;
    box-sizing: content-box;
    position: absolute;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    left: 10px;
}
.banner .container-links .facebook::before {
    content: "";
    background-image: url("facebook.png");
    background-size: cover;
    box-sizing: content-box;
    position: absolute;
    width: 35px;
    height: 35px;
    left: 10px;
}
.banner .container-links .twitch::before {
    content: "";
    background-image: url("twitch.png");
    background-size: cover;
    box-sizing: content-box;
    position: absolute;
    width: 35px;
    height: 35px;
    left: 10px;
}
main > section {
    width: 100%;
    height: 100vh;
    background-image: url("imagem-de-fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;   
}
main .estatistica table {
    width: 768px;
    height: 400px;
    text-align: center;
    opacity: 90%;
    margin: 30px 0;
}
main .estatistica table tr {
    padding: 10px;
    gap: 10px;
    position: relative;
}
main .estatistica table td {
    position: relative;
    text-align: center;
    margin: 15px;
    width: 40%;
}
main .estatistica table .titulo {
    background: linear-gradient(90deg, #009c3b, #ffdf00);
    font-size: 20px;
    color: black;
}
main .estatistica table tr:nth-of-type(even) {
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bold;
}
main .estatistica tr:nth-of-type(odd) {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
main .estatistica table .brasil::before {
    content: "";
    background: url("cbf.png");
    background-size: cover;
    box-sizing: border-box;
    position: absolute;
    display: inline;
    width: 35px;
    height: 50px;
    left: 3px;
    top: 3px;
}
main .estatistica table .santos::before {
    content: "";
    background: url("santos.png");
    background-size: cover;
    box-sizing: border-box;
    position: absolute;
    display: inline;
    width: 40px;
    height: 40px;
    left: 3px;
    top: 13px;
}
main .estatistica table .barcelona::before {
    content: "";
    background: url("barcelona.png");
    background-size: cover;
    box-sizing: border-box;
    position: absolute;
    display: inline;
    width: 40px;
    height: 40px;
    left: 3px;
    top: 13px;
}
main .estatistica table .psg::before {
    content: "";
    background: url("psg.png");
    background-size: cover;
    box-sizing: border-box;
    position: absolute;
    display: inline;
    width: 45px;
    height: 45px;
    left: 3px;
    top: 12px;
}
main .estatistica table .alhilal::before {
    content: "";
    background: url("alhilal.png");
    background-size: cover;
    box-sizing: border-box;
    position: absolute;
    display: inline;
    width: 40px;
    height: 40px;
    left: 3px;
    top: 12px;
}
